/* First five are a cheatsheet */
/* class */
.main-title {
  border: 4px solid black;
}

/* id */
#some-id {
  color: black;
}

/* attribute */
[type='object'] {
  border: 4px solid red;
}

/* direct assignment */
.main-section > h1 {
  color: blue;
}

/* state pseudo-class */
.button[disabled] {
  border: 4px solid black;
}

/* --- Actual stylesheet --- */
:root {
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-tan: #a18268;
  --color-beige: #cfcfbc;
}

/* Base */
body {
  color: var(--color-primary-dark);
}

ul {
  list-style-type: none;
}

/* Button */
.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

/* Links */
.section-link {
  color: var(--color-primary-light);
}

.section-link:hover {
  color: var(--color-brand-light);
}

/* Hero section */
.hero-title {
  color: var(--color-primary-light);
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/* Advantages section */
.advantages-list {
  background-color: var(--color-brand-light);
  color: var(--color-primary-light);
}

.section-title .accent {
  color: var(--color-brand-dark);
}
